* text=auto eol=lf

*.cmd  text eol=crlf
*.bat  text eol=crlf

*.py   text eol=lf
*.json text eol=lf
*.yml  text eol=lf
*.yaml text eol=lf
*.md   text eol=lf
*.sh   text eol=lf
*.ps1  text eol=lf

*.png  binary
*.jpg  binary
*.jpeg binary
*.ico  binary
*.pdf  binary
*.zip  binary
*.woff binary
*.woff2 binary
